# Artefacte build
build/
*.o
*.a

# Kernel
kernel/linux-*/
kernel/linux-*.tar.xz
kernel/scripts/

# Initramfs
initramfs/build/
initramfs/src/init/init
initramfs/src/msh/msh
initramfs/src/cpm/cpm
initramfs/src/cpm/cpm_test
initramfs/src/cpm/cpm_host
initramfs/src/cpm/*.o

# Pachete
packages/build/

# ISO output
*.iso

# Editor
.vscode/
.idea/
*.swp
*~
.DS_Store

# Alpine-based overlay artefacte
alpine-based/iso-contents/
alpine-based/alpine-virt-*.iso
alpine-based/alpine-virt-*.iso.sha256
alpine-based/carpatos-*.iso
alpine-based/carpatos.apkovl.tar.gz
alpine-based/apkovl/usr/local/bin/cpm
alpine-based/apkovl/var/cpm/
