# Artefacte build
build/
*.o
*.a

# Kernel
kernel/linux-*/
kernel/linux-*.tar.xz
kernel/scripts/

# Initramfs
initramfs/build/
initramfs/src/init/init
initramfs/src/msh/msh
initramfs/src/cpm/cpm
initramfs/src/cpm/cpm_test
initramfs/src/cpm/cpm_host
initramfs/src/cpm/*.o

# Pachete
packages/build/

# ISO output
*.iso

# Editor
.vscode/
.idea/
*.swp
*~
.DS_Store
