# Artefacte build
build/
*.o
*.a

# Kernel
kernel/linux-*/
kernel/linux-*.tar.xz
kernel/scripts/

# Initramfs
initramfs/build/
initramfs/src/init/init
initramfs/src/msh/msh
initramfs/src/lup/lup
initramfs/src/lup/lup_test
initramfs/src/lup/lup_host
initramfs/src/lup/*.o

# Pachete
packages/build/

# ISO output
*.iso

# Editor
.vscode/
.idea/
*.swp
*~
.DS_Store
